.header{
    height: 34vw;
    margin: 30px auto;
    background: url("../../../public/images/header1.jpg");
    background-size: cover;
    position: relative;
    border-radius: 10px;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.4vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-content p{
    color: white;
    font-size: 1vw;
}
.header-content button{
    border: none;
    color:#747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.header-content button:hover{
    background-color: #74747474;
}